@import "../../assets/variables.scss";

.form {
	display: flex;
	flex-direction: column;

	gap: 0.8rem;

	.form-simple-item {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		margin-bottom: 0.5rem;

		input,
		textarea,
		select {
			background-color: inherit;
			border: 0.063rem solid;
			border-radius: 0.25rem;
			padding: 0.25rem;
			outline: none;
		}

		input,
		select {
			height: 2rem;
			width: 100%;
		}

		textarea {
			height: 4rem;
		}

		.select {
			position: relative;
			cursor: pointer;

			select {
				z-index: 1;
				appearance: none;
				outline: none;
				cursor: pointer;
				padding: 0.5rem;
				width: 100%;
			}

			&::after {
				content: "\01F893";
				font-size: 28px;
				pointer-events: none;
				position: absolute;
				bottom: 0;
				right: 0.8rem;
				top: 20%;
			}
		}
	}

	.form-list-item {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;

		.inputs-with-errors {
			.error {
				color: $red_error;
				font-size: 0.75rem;
				font-weight: 600;
				float: right;
				padding-right: 3rem;
				padding-bottom: 0.25rem;
			}

			.new-inputs {
				height: 2rem;
				width: 100%;
				display: flex;
				gap: 0.5rem;
				justify-content: center;
				align-items: center;

				.inputs {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					border: 0.063rem solid $gray;
					border-radius: 0.25rem;
					padding: 0 0.5rem;

					input[type="text"] {
						background-color: inherit;
						width: 80%;
						height: 2rem;
						padding: 0.25rem;
						border: none;
						outline: none;
					}

					input[type="color"] {
						appearance: none;
						background: none;
						border: none;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						cursor: pointer;

						&::-webkit-color-swatch {
							border: none;
						}
					}

					input[type="color"]::-webkit-color-swatch-wrapper,
					input[type="color"]::-webkit-color-swatch {
						border-radius: 50%;
					}

					&.error {
						border-color: $red_error;
					}
				}

				svg {
					cursor: pointer;
				}
			}
		}
	}

	.form-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.7rem;
	}
}

.dark-theme {
	.form {
		.form-simple-item {
			input,
			textarea,
			select {
				color: $white;
				border-color: $gray;

				&.error {
					border-color: $red_error;
				}
			}

			.select {
				background-color: $dark_gray;

				&::after {
					color: $purplish_blue;
				}
			}
		}

		.form-list-item {
			.new-inputs {
				.inputs {
					input[type="text"] {
						color: $white;
					}
				}
			}
		}
	}
}

.light-theme {
	.form {
		.form-simple-item {
			input,
			textarea,
			select {
				color: $black;
				border-color: $gray;

				&.error {
					border-color: $red_error;
				}
			}

			.select::after {
				color: $purplish_blue;
			}
		}

		.form-list-item {
			.new-inputs {
				.inputs {
					input[type="text"] {
						color: $black;
					}
				}

				svg {
					color: $gray;
				}
			}
		}
	}
}
