@import "../../assets/variables.scss";

.board {
	flex: 1;
	height: 100vh;
}

.dark-theme {
	.board {
		background-color: $dark_background;
		color: $white;
	}
}

.light-theme {
	.board {
		background-color: $light_background;
		color: $gray;
	}
}

@media screen and (min-width: 1024px) {
	//Desktop
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	//Tablet
}

@media screen and (max-width: 767px) {
	//Mobile
}
