@import "../../assets/variables.scss";

.board.dark {
	background-color: $dark_background;
	color: $white;
}

.board.light {
	background-color: $light_background;
	color: $gray;
}

@media screen and (min-width: 1024px) {
	//Desktop
	.board {
		width: 80%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	//Tablet
	.board {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	//Mobile
	.board {
		width: 100%;
	}
}
