@import "../../../assets/variables.scss";

.board-name {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-bottom: 0.5rem;

	input {
		background-color: inherit;
		height: 2rem;
		border: 0.063rem solid $gray;
		border-radius: 0.25rem;
		color: $white;
		padding: 0.25rem;
		outline: none;
	}
}

.board-column-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;

	.status-column {
		background-color: inherit;
		height: 2rem;
		display: flex;
		gap: 1rem;

		.status-details {
			width: 100%;
			border: 0.063rem solid $gray;
			border-radius: 0.25rem;
			padding: 0.25rem;

			svg {
				margin-right: 0.5rem;
			}
		}

		.status-icons {
			display: none;
		}

		&:hover {
			.status-icons {
				display: flex;
				gap: 0.5rem;
				justify-items: center;
				align-items: center;
				cursor: pointer;
			}
		}
	}

	.new-column {
		height: 2rem;
		width: 100%;
		display: flex;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;

		.new-column-inputs {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border: 0.063rem solid $gray;
			border-radius: 0.25rem;
			padding: 0 0.5rem;

			input[type="text"] {
				background-color: inherit;
				width: 80%;
				height: 2rem;
				padding: 0.25rem;
				border: none;
				outline: none;
			}

			input[type="color"] {
				appearance: none;
				background: none;
				border: none;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				cursor: pointer;

				&::-webkit-color-swatch {
					border: none;
				}
			}

			input[type="color"]::-webkit-color-swatch-wrapper,
			input[type="color"]::-webkit-color-swatch {
				border-radius: 50%;
			}
		}

		svg {
			cursor: pointer;
		}
	}
}

.board-buttons {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;

	button {
		height: 2.5rem;
		width: 100%;
		border-radius: 1.5rem;
		border: 0.1rem solid;
		font-weight: bold;
		cursor: pointer;
	}

	.new-column-button {
		background-color: $blueish_gray;
		color: $purplish_blue;
		border-color: $blueish_gray;

		&:disabled {
			display: none;
		}
	}

	.submit {
		background-color: $purplish_blue;
		border-color: $purplish_blue;
		color: $white;
	}
}

.dark-theme {
	.board-name {
		input {
			color: $white;
		}
	}

	.board-column-list {
		.status-column {
			color: $white;
		}

		.new-column {
			.new-column-inputs {
				input[type="text"] {
					color: $white;
				}
			}
		}
	}

	.board-buttons {
		.new-column-button {
			background-color: $blueish_gray;
			color: $purplish_blue;
			border-color: $blueish_gray;
		}

		.submit {
			background-color: $purplish_blue;
			border-color: $purplish_blue;
			color: $white;
		}
	}
}

.light-theme {
	.board-name {
		input {
			color: $black;
		}
	}

	.board-column-list {
		.status-column {
			color: $black;

			.status-icons {
				color: $gray;
			}
		}

		.new-column {
			.new-column-inputs {
				input[type="text"] {
					color: $black;
				}
			}

			svg {
				color: $gray;
			}
		}
	}
}
