@import "../../../assets/variables.scss";

.board-name {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-bottom: 0.5rem;

	input {
		background-color: inherit;
		height: 2rem;
		border: 0.063rem solid $gray;
		border-radius: 0.25rem;
		color: $white;
		padding: 0.25rem;
		outline: none;
	}
}

.board-column-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.board-buttons {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;

	button {
		height: 2.5rem;
		width: 100%;
		border-radius: 1.5rem;
		border: 0.1rem solid;
		font-weight: bold;
		cursor: pointer;
	}

	.new-column-button {
		background-color: $blueish_gray;
		color: $purplish_blue;
		border-color: $blueish_gray;

		&:disabled {
			display: none;
		}
	}

	.submit {
		background-color: $purplish_blue;
		border-color: $purplish_blue;
		color: $white;
	}
}

.dark-theme {
	.board-name {
		input {
			color: $white;
		}
	}

	.board-buttons {
		.new-column-button {
			background-color: $blueish_gray;
			color: $purplish_blue;
			border-color: $blueish_gray;
		}

		.submit {
			background-color: $purplish_blue;
			border-color: $purplish_blue;
			color: $white;
		}
	}
}

.light-theme {
	.board-name {
		input {
			color: $black;
		}
	}
}
