@import "../../assets/variables.scss";

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-bottom: 0.1rem solid;

	.header-board-title {
		margin: 0.5rem;
	}

	.header-new-task {
		background-color: $purplish_blue;
		border-radius: 1rem;
		border: 0.1rem solid $purplish_blue;
		height: 1.5rem;
		color: $white;
	}
}

.header.dark {
	background-color: $dark_gray;
	border-color: $gray;
	color: $white;
}

.header.light {
	background-color: $white;
	border-color: $blueish_gray;
	color: $black;
}

@media screen and (min-width: 1024px) {
	//Desktop
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	//Tablet
}

@media screen and (max-width: 767px) {
	//Mobile
}
