@import "../../assets/variables.scss";

.confirmation-dialog {
	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 1.25rem;
	}

	.confirmation-dialog-buttons {
		width: 60%;
		float: right;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		padding: 0.8rem 0;
	}
}
